<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <div class="row">
      <div class="col-xl-4">
        <div class="card card-white">
          <div class="card-image">
            <video controls width="350">
              <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4"/>
            </video>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </article>  
</section>